body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.activo{
  background-color: #33d457;
  border-radius: 20px;
  padding: 4px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}


.inactivo{
  background-color: rgba(253, 47, 47, 0.918);
  border-radius: 20px;
  padding: 4px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
  color: #fff;
  cursor: pointer;

}

.btn-input{
  font-size: 16px;
  color: #fff;
  background: #3a3aec;
  cursor: pointer;
  border: 0;
  border-radius: 5rem;
}
.input-form{
  height: 250px;
  display: flex;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px dashed #3a3aec;
}
form :where(i, p){
  color: #3a3aec;
}
form i{
  font-size: 50px;
}
form p{
  font-size: 16px;
  margin-top: 15px;
}
.btn-titulo{
  color:#3a3aec;
  font-size: 27px;
  font-weight: 600;
  text-align: center;
}
.file-input{
  margin: 30px 0;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.header-ask {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-ask {
  border-radius: 15px;
  background: #3a3aec;
  color: #fff;
  font-size: 13px;
  border: 0;
  padding: 15px;
  text-decoration: none;
}

.ask-h1 {
  font-size: 35px;
  color: #3a3aec;
  text-transform: uppercase;
}

.form-ask {
  width: 400px;
}


.form-ask input {

  width: 300px;
  border-bottom: #3a3aec solid 3px;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  color: #3a3a3a;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
}

.form-ask input:focus {
  border-bottom: #01a2ff solid 3px;

}

.btn-ask {
  border-radius: 15px;
  background: #3a3aec;
  font-size: 15px;
  padding: 15px;
  margin-top: 15px;
  text-align: center;
}

.select-ask {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.select {
  width: 150px;
  margin: 10px;
  
  font-size: 20px;
  border-bottom: #3a3aec solid 3px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  color: #3a3a3a;
} 


.select input:focus {
  border-bottom: #01a2ff solid 3px;

}

